@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Outfit:wght@400;600&display=swap");

.sidenav {
  height: 100%;
  width: 300px;
  background-color: black;
  color: whitesmoke;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sidenav a {
  text-decoration: none;
  color: #818181;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Outfit", sans-serif;
}

ul {
  list-style: none;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidebar-content {
  position: absolute;
  left: 320px;
}

.home-main {
  width: 100%;
}

.photos-main {
  margin: 10px;
}

.flex-inline {
  display: flex;
}

.file-label {
  border: 1px solid #e0e0e0;
  padding: 7px 10px 7px 10px;
  height: auto;
  width: 350px;
  border-radius: 10px;
  margin-top: 5px !important;
  font-family: "M PLUS 1", sans-serif;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
}

.form-field {
  margin-top: 20px;
}

.input-field {
  margin: 10px 0px;
}

.modal-image {
  width: 100%;
  padding: 20px;
}

.modal-data {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-submit {
  width: 100px;
  height: 30px;
  background-color: #ff5722;
  cursor: pointer;
  outline: none;
  border: 1px solid #ff5722;
  border-radius: 10px;
  color: whitesmoke;
  font-family: "Outfit", sans-serif;
}

p {
  font-family: "Outfit", sans-serif;
}

.delete-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}
.delete {
  cursor: pointer;
}
